/* responsive style */

@media only screen and (max-width: 768px){
 .shortText{
    font-size: 20px;
  }
  .shortText br{
    display: none;
  }
  .image h1{
    font-size: 35px;
  }
  .readMore{
    display: none;
  }

  .section h2{
    font-size: 30px;
  }
  .section1{
    font-size: 20px;
    display: block;
    padding-top: 5px;

  }
  .section1 br{
    display: none;
  }

  .grids{
    font-size: 20px;
    display: block;
    background-color: white;
  }

  .grids img{
    max-width: 100%;
  }
  .grids br{
   display: none;
  }

  .weHandle{
    font-size: 30px;
  }
  
  .weHandleText{
    font-size: 20px;
  }
  .weHandleText br{
    display: none;
  }

  .about{
    font-size: 28px;
    padding-top: 90px;
    padding-bottom: 100px;
  }
  .aboutContent{
    font-size: 20px;
    padding-bottom: 60px;
  }
  .aboutContent br{
    display: none;
  }
  .company{
    display: inline;
    width: 100%;
    background-color: white;
  }
  .company br{
    display: none;
  }
  .gmail{
      font-size: 20px;
  }

  .solution{
      display: block;
  }
}